<section class="about">
    <h2>About Me</h2>
    <p>Hello! I'm a passionate developer with a strong foundation in computer science.
        I enjoy many different aspects of software development, 
        from fullstack projects, to utilizing cloud technologies, to exploring AI and ML tools.
        I also have a interest for game developement, using the open-source engine Godot
        to create small games and prototypes.
    </p>
    <p>I'm seeking opportunities where I can contribute to meaningful projects
       while continuing to grow as a developer. I am highly flexible, 
       with a desire to learn new technologies and methodologies.
    </p>

    <h3>Education</h3>
    <ul>
        <li><strong>North Dakota State University</strong> - B.S. in Computer Science 2024</li>
        <li><strong>Graduated with Honors</strong> - Cum Laude</li>
    </ul>

    <h3>Work Experience</h3>
    <ul>
        <li><strong>Software Engineering Intern</strong> - Analog Technologies Corporation (Summer 2024)
            <ul>
                <li>Developed a prototype application that allowed users to chat with an LLM
                    to gather tool calls and create SQL Queries.</li>
                <li>Application utilized Streamlit to serve as front-end, while using Python
                    integrated tool grabbing using LlamaIndex.</li>
                <li>The project had both a Cloud version that used API calls to the LLM, as
                    well as a Local version that ran off a basic system.</li>
            </ul>
        </li>
    </ul>

    <h3>Outside the Computer</h3>
    <p>Outside of coding, I have a passion for being outdoors. 
       From longboarding, to biking, to just going for walks, I love being outside and exploring nature.
       I also have a strong interest in personal fitness, regularly going to the gym and staying active.
       The nerd side of me also enjoys playing videogames, and occasionally putting on a video essay while I'm coding.
    </p>
</section>
